.game {
    margin-top: 10px;
    width: 150px;
    height: 200px;
    border-color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #888888;
    padding: 0 10px 10px 10px;
    text-align: center;
    margin: 20px;
    padding-top: 10px;

}

.game-img {
    max-width: 100px;
    max-height: 100px;
}

.detailed-game-box {
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    text-align: center;

}

.detailed-flex-container {
    display: flex;
}

.detailed-game-img {
    max-width: 150px;
    max-height: 200px;
    width: 20%;
}

.detailed-game-desc {
    width: 30%;

}

.detailed-game-price-type {
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.detailed-game-price {
    display: inline;
    background-color: #f1aa1a;
}


.right {
    float: right;
}


.detailed-add-to-cart{
    display: block;

}

.profile-image {
    width: 50px;
    padding-top: 1rem;
}

.sort-link:link, .sort-link:visited, .sort-link:hover, .sort-link:active {
    color: black;
    text-decoration: none;
}

.sort-selected {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
