<div class="right">
    <form action="#">
        <div class="filter-group">
            <label class="filter-label" for="sort">Sort: </label>
            <a class="sort-link sort-selected" id="name" href="#">Name</a>
            <a class="sort-link" id="price" href="#">Price</a>
        </div>
        <div class="filter-group">
            <label class="filter-label" for="types">Filter: </label>
            <select id="types" name="types">
                <option value=0>All</option>
                <option value=1>NES</option>
                <option value=2>Commodore</option>
                <option value=3>Playstation Classic</option>
                <option value=5>Sega</option>
                <option value=6>Atari</option>
                <option value=4>Game Boy</option>
            </select>
        </div>
    </form>
</div>
