{% extends "base.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
        </ol>
    </nav>
    <div class="detailed-game-box">
        <h1>{{ game.name }}</h1>
        <div class="detailed-flex-container">
            <img class="detailed-game-img" alt="{{ game.name }}" src="{{ game.gameimage_set.first.image }}">
            <p class="detailed-game-desc">{{ game.description }}</p>
            <div class="detailed-game-price-type">
                <p>Console: {{ game.type.name }}</p>
                <p class="detailed-game-price">Price: {{ game.price }}$</p>
                <a href="/add_to_cart/{{ game.id }}" class="detailed-add-to-cart btn btn-default">Add to cart<span class="glyphicon glyphicon-shopping-cart"></span></a>
            </div>
        </div>
    </div>
{% endblock %}
