{% extends 'base.html' %}
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            {% include 'game/filter_btns.html' %}
        </ol>
    </nav>

    <div class="input-group">
        <input class="form-control" id="search-box" placeholder="Enter your search here.." type="search"/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
            <button class="btn btn-default dropdown-toggle" id="history-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search History</button>
            <div class="dropdown-menu" id="history-dropdown">
            </div>
        </div>
    </div>

    <div class="games">
    {% for game in games %}
        {% include 'game/single_game.html' with game=game %}
    {% endfor %}
    </div>
{% endblock %}