{% extends "base.html" %}
{% block content %}
    <div class="detailed-checkout-details">
        <form>
            <label for="cardholder_name">Cardholder name:</label><br>
            <input id="cardholder_name" type="text" name="cardholder_name"><br>
            <label for="cnumber">Card number:</label><br>
            <input id="cnumber" type="number" name="cnumber" pattern=".{16}"><br>
            <label for="expiration_date">Expiration date:</label><br>
            <input id="expiration_date" type="number" name="expiration_date" minlength="2" maxlength="2" min="1" max="12">
            <span>/</span>
            <input type="number" name="expiration_date" minlength="2" maxlength="2" min="20" max="26"><br>
            <label for="cvc">CVC:</label><br>
            <input id="cvc" type="number" name="cvc" minlength="3" maxlength="3"><br>
        </form>
        <a class="btn btn-default prev-next-btns" href="{% url 'contact_info' %}">Previous</a>
        <a class="btn btn-default prev-next-btns" href="{% url 'review_order' %}">Next</a>
    </div>

{% endblock %}