{% extends "base.html" %}
{% block content %}
    <div class="detailed-checkout-details">
        <p>Fullname:</p>
        {{ contact_info.full_name }}
        <p>Street name:</p>
        {{ contact_info.street_name }}
        <p>House number:</p>
        {{ contact_info.house_number }}
        <p>Postal code:</p>
        {{ contact_info.postal_code }}
        <p>City:</p>
        {{ contact_info.city }}
        <p>Country:</p>
        {{ contact_info.country }}<br>
        <a class="btn btn-default prev-next-btns" href="{% url 'payment_details' %}">Previous</a>
        <a class="btn btn-default prev-next-btns" href="{% url 'payment_confirmed' %}">Payment confirmed</a>
    </div>
{% endblock %}