{% extends "base.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </nav>
    <div class="login-container">
            <form method="post" class="form form-horizontal">
                <div class="form-group row">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <input type="submit" class="btn btn-primary" value="Login" />
                <a href="{% url 'login' %}">Not a Member?</a>
            </form>
    </div>
{% endblock %}